ul{
  max-width: 600px;

  background-color: rgb(196, 196, 196);
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 10px;
  padding:40px;
  list-style-type: none;
}

.inputField{
  margin-left: 80px;
  display: flex;
  align-self: left;
}